on: [push, pull_request]
jobs:
  crosscompile:
    strategy:
      fail-fast: false
      matrix:
        go: [ "1.18.x" ]
    runs-on: ubuntu-latest
    name: "Cross Compilation (Go ${{matrix.go}})"
    steps:
      - uses: actions/checkout@v3

      - uses: actions/setup-go@v3
        with:
          go-version: ${{ matrix.go }}
          check-latest: true

      - name: Install build utils
        run: |
          sudo apt-get update
          sudo apt-get install -y gcc-multilib

      - name: Install dependencies
        run: go mod tidy

      - name: Run cross compilation
        run: bash .github/workflows/cross-compile.sh
